<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="/">홈</a></li>
</ul>
회원수정페이지<br />
<form th:action="|../memberUpdate/${memberCommand.memberNum}|" method="post">
    회원아이디 : <input type="text" name="memberId" th:value="${memberCommand.memberId}"><br />
    회원명 : <input type="text" name="memberName" th:value="${memberCommand.memberName}"><br />
    회원주소 : <input type="text" name="memberAddr" th:value="${memberCommand.memberAddr}"><br />
    상세주소 : <input type="text" name="memberAddrDetail" th:value="${memberCommand.memberAddrDetail}"><br />
    우편번호 : <input type="text" name="memberPost" th:value="${memberCommand.memberPost}"><br />
    회원연락처1 : <input type="tel" name="memberPhone1" th:value="${memberCommand.memberPhone1}"><br />
    회원연락처2 : <input type="tel" name="memberPhone2" th:value="${memberCommand.memberPhone2}"><br />
    회원상별 : <input type="radio" name="memberGender" th:value="M" th:checked="${memberCommand.memberGender == 'M'}">남자
        <input type="radio" name="memberGender" th:value="F" th:checked="${memberCommand.memberGender == 'F'}">여자<br />
    회원생년월일 : <input type="date" name="memberBirth" th:value="${#dates.format(memberCommand.memberBirth, 'yyyy-MM-dd')}"><br />
    회원이메일 : <input type="text" name="memberEmail" th:value="${memberCommand.memberEmail}"><br />
    회원등록일 : <input type="date" name="memberRegist" th:value="${#dates.format(memberCommand.memberRegist, 'yyyy-MM-dd')}"><br />
    <input type="submit" value="회원수정">
</form>
</body>
</html>